<% @title = "Character Creation" %>
<%= form_for(@character) do |f| %>
  <%= render 'shared/character_error_messages' %>

  <h3 id="button">Generate Character</h3>

  <div class="form-row">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :universe_id %>
    <%= collection_select(
      :character,
      :universe_id,
      Universe.all,
      :id,
      :universe_name_for_character,
      prompt: true) %>

    <%= f.label :career %>
    <%= f.text_field :career %>
  </div>
  <div class="form-row">
    <div class="leftcol">
      <%= f.label :level %>
      <%= f.text_field :level %>
      <%= f.label :health %>
      <%= f.text_field :health %>
      <%= f.label :weight %>
      <%= f.text_field :weight %>
    </div>
    <div class="rightcol">
      <%= f.label :race %>
      <%= f.text_field :race %>
    </div>
  </div>
  <div class="form-row">
    <div class="leftcol">
      <%= f.label :gold %>
      <%= f.text_field :gold %>
    </div>
    <div class="rightcol">

    </div>
  </div>

  <h3>Stats</h3>
  <div class="form-row">
    <div class="leftcol">
      <%= f.label :intelligence %>
      <%= f.text_field :intelligence %>
    </div>
    <div class="rightcol">
      <%= f.label :patience %>
      <%= f.text_field :patience %>
    </div>
  </div>
  <div class="form-row">
    <div class="leftcol">
      <%= f.label :charisma %>
      <%= f.text_field :charisma %>
    </div>
    <div class="rightcol">
      <%= f.label :perception %>
      <%= f.text_field :perception %>
    </div>
  </div>
  <div class="form-row">
    <div class="leftcol">
      <%= f.label :strength %>
      <%= f.text_field :strength %>
    </div>
    <div class="rightcol">
      <%= f.label :agility %>
      <%= f.text_field :agility %>
    </div>
  </div>
  <div class="form-row">
    <div class="leftcol">
      <%= f.label :constitution %>
      <%= f.text_field :constitution %>
    </div>
    <div class="rightcol">
      <%= f.label :endurance %>
      <%= f.text_field :endurance %>
    </div>
  </div>

  <h3>Combat</h3>
  <div class="form-row">
    <div class="leftcol">
      <%= f.label :attack %>
      <%= f.text_field :attack %>
    </div>
    <div class="rightcol">
      <%= f.label :defense %>
      <%= f.text_field :defense %>
    </div>
  </div>
  <div class="form-row">
    <div class="leftcol">
      <%= f.label :armor %>
      <%= f.text_field :armor %>
    </div>
    <div class="rightcol">

    </div>
  </div>

  <h3>Saves</h3>
  <div class="form-row">
    <div class="leftcol">
      <%= f.label :magic_save %>
      <%= f.text_field :magic_save %>
      <%= f.label :mind_save %>
      <%= f.text_field :mind_save %>
      <%= f.label :force_save %>
      <%= f.text_field :force_save %>
    </div>
    <div class="rightcol">
      <%= f.label :weather_save %>
      <%= f.text_field :weather_save %>
      <%= f.label :poison_save %>
      <%= f.text_field :poison_save %>
    </div>
  </div>

  <h3>Skills and Abilities</h3>
  <%= f.label :skills %>
  <%= f.text_area :skills %>
  <%= f.label :abilities %>
  <%= f.text_area :abilities %>
  <%= f.label :spells %>
  <%= f.text_area :spells %>
  <%= f.label :powers %>
  <%= f.text_area :powers %>
  <%= f.label :languages %>
  <%= f.text_area :languages %>

  <h3>Personal Info</h3>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :history %>
  <%= f.text_area :history %>
  <%= f.label :notes %>
  <%= f.text_area :notes %>

  <%= f.submit "Create Character.", id: "submit" %>

<% end %>

