<% @title = @character.name %>
<p><strong>Career/Class:</strong> <%= @character.career %></p>
<p><strong>Level:</strong> <%= @character.level %></p>
<p><strong>Race:</strong> <%= @character.race %></p>
<p><strong>Universe:</strong> <%= link_to @universe.name, universe_path(@universe) %></p>
<div class="clear">
  <div class="leftcol">
    <p><strong>Health:</strong> <%= @character.health %></p>
    <p><strong>Weight:</strong> <%= @character.weight %></p>
  </div>
  <div class="rightcol">
    <p><strong>Gold:</strong> <%= number_with_delimiter(@character.gold) %></p>
    <p><strong>Clan/Guild:</strong> <%= @character.clan %></p>
  </div>
</div>

<h3>Stats</h3>
<div class="clear">
  <div class="leftcol">
    <p><strong>Intelligence:</strong> <%= @character.intelligence %></p>
    <p><strong>Patience:</strong> <%= @character.patience %></p>
    <p><strong>Perception:</strong> <%= @character.perception %></p>
    <p><strong>Charisma:</strong> <%= @character.charisma %></p>
  </div>
  <div class="rightcol">
    <p><strong>Strength:</strong> <%= @character.strength %></p>
    <p><strong>Endurance:</strong> <%= @character.endurance %></p>
    <p><strong>Agility:</strong> <%= @character.agility %></p>
    <p><strong>Constituion:</strong> <%= @character.constitution %></p>
  </div>
</div>

<h3>Combat</h3>
<div class="clear">
  <div class="leftcol">
    <p><strong>Attack:</strong> <%= @character.attack %></p>
    <p><strong>Defense:</strong> <%= @character.defense %></p>
  </div>
  <div class="rightcol">
    <p><strong>Armor:</strong> <%= @character.armor %></p>
  </div>
</div>

<h3>Saves</h3>
<div class="clear">
  <div class="leftcol">
    <p><strong>Magic:</strong> <%= @character.magic_save %></p>
    <p><strong>Mind:</strong> <%= @character.mind_save %></p>
    <p><strong>Force:</strong> <%= @character.force_save %></p>
  </div>
  <div class="rightcol">
    <p><strong>Weather:</strong> <%= @character.weather_save %></p>
    <p><strong>Poison:</strong> <%= @character.poison_save %></p>
  </div>
</div>

<h3>Skills and Abilities</h3>
<p><strong>Skills:</strong> <%= @character.skills %></p>
<p><strong>Abilities:</strong> <%= @character.abilities %></p>
<p><strong>Spells:</strong> <%= @character.spells %></p>
<p><strong>Powers:</strong> <%= @character.powers %></p>
<p><strong>Languages:</strong> <%= @character.languages %></p>

<h3>Description/History</h3>
<p><strong>Description:</strong> <%= @character.description %></p>
<p><strong>History:</strong> <%= @character.history %></p>
<p><strong>Notes:</strong> <%= @character.notes %></p>

<h3>Items</h3>
<% if @character.items.any? %>
  <p><%= @character.name %> owns <%= pluralize(@character.items.count, "item") %>.</p>
  <table class="table">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <%= render @items %>
  </table>
<% else %>
  <p><%= @character.name %> has no items, or they were stolen...</p>
<% end %>
