<% @title = @character.name %>

<p>Name: <%= @character.name %></p>

<h3>Stats</h3>
<p>Intelligence: <%= @character.intelligence %></p>
<p>Patience: <%= @character.patience %></p>
<p>Charisma: <%= @character.charisma %></p>
<p>Strength: <%= @character.strength %></p>
<p>Endurance: <%= @character.endurance %></p>
<p>Agility: <%= @character.agility %></p>
<p>Constituion: <%= @character.constitution %></p>

<h3>Description/History</h3>
<p>Description: <%= @character.description %></p>
<p>History: <%= @character.history %></p>

<h3>Gear</h3>
<p>Gold: <%= @character.gold %></p>
<p>Weapon: <%= @character.weapon %></p>
