<% @title = "Create Area" %>
<%= form_for(@area) do |f| %>
  <%#= render 'shared/character_error_messages' %>

  <div class="form-row">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%#= options_for_select([ ['Lisbon', 1], ['Madrid', 2], ]) %>
    <%= select_tag(
      :type,
      options_for_select([
        ['Planet', 1],
        ['Continent', 2],
        ['Kingdom'],
        ['City/Village'],
      ])) %>

    <% types_array = ['Planet','Continent','Kingdom','City/Village'] %>
    <%= options_for_select(types_array) %>
    <%= select_tag(
      :type,
      options_for_select(types_array),
      prompt: :select)%>

    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :environment %>
    <%= f.text_area :environment %>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
    <%= f.label :map %>
    <%= f.text_field :map %>

    <%= f.label :universe_id %>
    <%= collection_select(
      :area,
      :universe_id,
      Universe.all,
      :id,
      :universe_name_for_lists,
      prompt: true) %>

  </div>

  <%= f.submit "Create Area", id: "submit" %>

<% end %>

