<% @title = "Create Area" %>
<%= form_for(@area) do |f| %>
  <%= render 'shared/_swiss_army_error_messages' %>
  <div class="form-row">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :universe_id %>
    <%= collection_select(
      :area,
      :universe_id,
      Universe.all,
      :id,
      :universe_name_for_lists,
      prompt: true) %>

    <div id="area_type_block">
      <%= f.label :area_type %>
      <%= f.select(
        :type,
        options_for_select(Area::TYPES, @area.type),
        {prompt: :select, :selected => params[:type]})%>
    </div>

    <div id="area_belongs_to_kingdom">
      <% if @area.type != 'Kingdom' %>
        <%= f.label :name, "Belongs to" %>
        <%= collection_select(
          :area,
          :id,
          Area.kingdoms,
          :id,
          :area_name_for_lists,
          prompt: true) %>
      <% end %>
    </div>

    <div id="area_belongs_to_city">
      <% if @area.type != 'Kingdom' %>
        <%= f.label :name, "Belongs to" %>
        <%= collection_select(
          :area,
          :id,
          Area.cities,#where(type: "City"),
          :id,
          :area_name_for_lists,
          prompt: true) %>
      <% end %>
    </div>

    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :environment %>
    <%= f.text_area :environment %>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
    <%= f.label :map %>
    <%= f.text_field :map %>

  </div>

  <%= f.submit "Create Area", id: "submit" %>

<% end %>

