<% @title = "Create Area" %>
<%= form_for(@area) do |f| %>
  <%#= render 'shared/character_error_messages' %>
  <%#= f.hidden_field :parent_id %>
  <div class="form-row">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%#= f.label :area_type %>
    <%#= f.select(
      :area_type,
      options_for_select(Area.area_types),
      prompt: :select)%>

    <%= f.label :universe_id %>
    <%= collection_select(
      :area,
      :universe_id,
      Universe.all,
      :id,
      :universe_name_for_lists,
      prompt: true) %>

    <%= f.label :area_type %>
    <%= f.select(
      :type,
      options_for_select(Area::TYPES, @area.type),
      {prompt: :select, :selected => params[:type]})%>

    <% if @area.type != 'Kingdom' %>
      <%= f.label :name, "Belongs to" %>
      <%= collection_select(
        :area,
        :id,
        Area.all,#Area.for(@area),
        :id,
        :area_name_for_lists,
        prompt: true) %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :environment %>
    <%= f.text_area :environment %>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
    <%= f.label :map %>
    <%= f.text_field :map %>

  </div>

  <%= f.submit "Create Area", id: "submit" %>

<% end %>

