<% @title = @area.name %>
<p><strong>Description:</strong> <%= @character.level %></p>
<p><strong>Environment:</strong> <%= @character.race %></p>
<p><strong>Notes:</strong> <%= @character.level %></p>
<p><strong>Map:</strong> <%= @character.race %></p>
<% if @universe %>
<p><strong>Universe:</strong> <%= link_to @universe.name, universe_path(@universe) %></p>
<% end %>
