<% @title = @universe.name %>

<p><strong>Description:</strong> <%= @universe.description %></p>
<p><strong>Special Rules:</strong> <%= @universe.special_rules %></p>
<p><strong>Pantheon:</strong> <%= @universe.pantheon %></p>


  <p>There are <%= pluralize(@kingdoms.count, "kingdom") %> in this universe.</p>
  <p>There are <%= pluralize(@cities.count, "city") %> in this universe.</p>
  <p>There are <%= pluralize(@places.count, "place") %> in this universe.</p>

  <p><%#= @formatted_areas_by_relationship %></p>

  <% @formatted_areas_by_relationship.each do |kingdom| %>
    <ul><li>
      <%= kingdom.first.second %> <!-- renders kingdom name -->
      <% kingdom.each do |city| %>
        <% if city[0] == 'cities' %> <!-- get rid of unwanted data -->
          <% @cities_clean = city.second %>
          <% @cities_clean.each do |cities| %>
            <ul><li>
              <%= cities.first.second %>
              <% cities.each do |place| %>
                <% if place[0] == 'places' %> <!-- get rid of unwanted data -->
                  <% @places_clean = place.second %>
                  <% @places_clean.each do |places| %>
                    <ul><li>
                      <%= places.first.second %>
                    </li></ul>
                  <% end %>
                <% end %>
              <% end %>
            </li></ul>
          <% end %>
        <% end %> <!-- end if / city[0] == 'cities' -->
      <% end %>
    </li></ul>
  <% end %>


<h3>Areas</h3>
<% if @universe.areas.any? %>
  <p>There are <%= pluralize(@universe.areas.count, "area") %> in this universe.</p>
  <table class="table">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <%= render @areas %>
  </table>
<% else %>
  <p>There are no areas in this universe, catastrophe!</p>
<% end %>

<h3>Characters</h3>
<% if @universe.characters.any? %>
  <p>There are <%= pluralize(@universe.characters.count, "character") %> in this universe.</p>
  <table class="table">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <%= render @characters %>
  </table>
<% else %>
  <p>There are no characters in this universe, or they all died...</p>
<% end %>


