<% @title = @universe.name %>

<p><strong>Description:</strong> <%= @universe.description %></p>
<p><strong>Special Rules:</strong> <%= @universe.special_rules %></p>
<p><strong>Pantheon:</strong> <%= @universe.pantheon %></p>

<h3>Characters</h3>
<% if @universe.characters.any? %>
  <p>There are <%= @universe.characters.count %> characters in this universe.</p>
  <table class="table">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <%= render @characters %>
    <%= @universe.characters.name %>
  </table>
<% else %>
  <p>There are no characters in this universe, or they all died...</p>
<% end %>


