<% @title = @universe.name %>

<p><strong>Description:</strong> <%= @universe.description %></p>
<p><strong>Special Rules:</strong> <%= @universe.special_rules %></p>
<p><strong>Pantheon:</strong> <%= @universe.pantheon %></p>


  <p>There are <%= pluralize(@kingdoms.count, "kingdom") %> in this universe.</p>
  <p>There are <%= pluralize(@cities.count, "city") %> in this universe.</p>
  <p>There are <%= pluralize(@places.count, "place") %> in this universe.</p>


  <p><%#= @cities.first %></p>
  <p><%#= @cities.map(&:attributes) %></p>
  <p><%= @formatted_data %></p>

  <!-- use partial instead -->
  <% @formatted_data.each do |kingdom| %>
    <ul>
      <li>
        <%= kingdom %>
        <% kingdom.each do |city|%>
          <ul>
            <li>
              <%= city %>
              <% city.each do |data|%>
                <ul>
                  <li>
                    <%= data %>
                  </li>
                </ul>
              <% end %>
            </li>
          </ul>
        <% end %>
      </li>
    </ul>
  <% end %>


<h3>Areas</h3>
<% if @universe.areas.any? %>
  <p>There are <%= pluralize(@universe.areas.count, "area") %> in this universe.</p>
  <table class="table">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <%= render @areas %>
  </table>
<% else %>
  <p>There are no areas in this universe, catastrophe!</p>
<% end %>

<h3>Characters</h3>
<% if @universe.characters.any? %>
  <p>There are <%= pluralize(@universe.characters.count, "character") %> in this universe.</p>
  <table class="table">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <%= render @characters %>
  </table>
<% else %>
  <p>There are no characters in this universe, or they all died...</p>
<% end %>


