<% @title = @universe.name %>

<p>Description: <%= @universe.description %></p>
<p>Special Rules: <%= @universe.special_rules %></p>
<p>Pantheon: <%= @universe.pantheon %></p>

<h3>Characters <%= @universe.characters.count %></h3>
<% if @universe.characters.any? %>
  <p>There are <%= @universe.characters.count %> characters in this universe.</p>
  <table class="table">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <%= render @characters %>
    <%= @universe.characters.name %>
  </table>
<% else %>
  <p>There are no characters in this universe, or they all died...</p>
<% end %>


