<% @title = @item.name %>
<p><strong>Appearance:</strong> <%= @item.appearance %></p>
<p><strong>Owner:</strong> <%= link_to @character.name, character_path(@character) %></p>

<div class="clear">
  <div class="leftcol">
    <p><strong>Damage:</strong> <%= @item.damage %></p>
    <p><strong>Weight:</strong> <%= @item.weight %></p>
  </div>
  <div class="rightcol">
    <p><strong>Durability:</strong> <%= @item.durability %></p>
    <p><strong>Size:</strong> <%= @item.size %></p>
  </div>
</div>

<p><strong>Powers:</strong> <%= @item.powers %></p>
<p><strong>Notes:</strong> <%= @item.notes %></p>
