<% @title = @city.name %>
<p><%= @city.attributes.inspect %></p>
<p><%= link_to "Edit", edit_city_path(@city) %></p>
<p><strong>Description:</strong> <%= @city.description %></p>
<p><strong>Population:</strong> <%= @city.population %></p>
<p><strong>Economy:</strong> <%= @city.economy %></p>
<p><strong>Building Style:</strong> <%= @city.building_style %></p>
<p><strong>Resources:</strong> <%= @city.resources %></p>
<p><strong>Notes:</strong> <%= @city.notes %></p>
<p><strong>Map:</strong> <%= @city.map %></p>

<% if @universe %>
<p><strong>Universe:</strong> <%= link_to @universe.name, universe_path(@universe) %></p>
<% end %>

<h3>Characters</h3>
<% if false %><!-- @city.characters.any? -->
  <p>There are <%= pluralize(@city.characters.count, "character") %> in this city.</p>
  <table class="table">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <%= render @characters %>
  </table>
<% else %>
  <p>There are no characters in this city, or they all died...</p>
<% end %>
