<!DOCTYPE html>
<html>
<head>
  <title><%= base_title(@title) %></title>
  <%= stylesheet_link_tag "application", media: "all",
  "data-turbolinks-track" => true %> <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <h1><%= @title %></h1>
      <div id="content">
        <article>
          <%= yield %>
        </article>
        <%= render 'layouts/aside' %>
      </div>
      <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
